<div class="animated fadeIn">
  <h1 class="mb-4"> {{name}}, welcome to the StarkCore voting platform!</h1>
  <p *ngIf="isCandidate">Looks like you are a CANDIDATE, take a look at your information below and don't go and try to
    vote for yourself, the blockchain will know!</p>

  <p *ngIf="!isCandidate">Looks like you are a VOTER, go ahead and get your candidates address and start to vote.
    Remember, your vote is anonymous.</p>

  <!-- Voter information whether they are a candidate or not -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Vote</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <h2>Your information</h2>

          <div class="form-group">
              <div class="card">
                <div class="card-body p-0 clearfix">
                  <i class="fa fa-user bg-primary p-4 font-2xl mr-3 float-left"></i>
                  <div *ngIf="isCandidate">
                      <div class="h5 text-primary mb-0 pt-3">Candidate</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Role</div>
                  </div>
                  <div *ngIf="!isCandidate">
                      <div class="h5 text-primary mb-0 pt-3">Voter</div>
                      <div class="text-muted text-uppercase font-weight-bold font-xs">Role</div>
                  </div>
                  
                </div>
              </div>
            </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="name" type="text" class="form-control" id="name" placeholder="Enter your name"
                  [disabled]="true">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Address</label>
                <input [(ngModel)]="address" type="text" class="form-control" id="ccnumber" placeholder="0x123..."
                  [disabled]="true">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6">
      <div class="card">
        <!-- Show application progress when saving on the blockchain -->
        <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
        <div class="card-header">
          <strong>Vote</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <h2>Your candidate</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Candidate Address</label>
                <input [(ngModel)]="candidateAddress" type="text" class="form-control" id="candidateAddress"
                  placeholder="0x123...">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-4">
              <label for="candidateID">Candidate ID</label>
              <input [(ngModel)]="candidateID" type="text" class="form-control" id="candidateID" placeholder="Enter the ID here">
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-4">
              <button (click)="saveCandidate();" type="button" class="btn btn-block btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Registered Voters
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let candidate of candidateList; let i = index">
                <td>{{candidate.name}}</td>
                <td>{{candidate.address}}</td>
                <td>{{candidate.isCandidate}}</td>
                <td *ngIf="candidate.voted;">
                  <span class="badge badge-success">Voted</span>
                </td>
                <td *ngIf="!candidate.voted;">
                  <span class="badge badge-danger">Not-Voted</span>
                </td>
              </tr>
              <!-- <tr>
                <td>Samppa Nori</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Estavan Lykos</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Chetan Mohamed</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Derick Maximinus</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Friderik Dávid</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
