<div class="animated fadeIn">
  <!-- Dictator function -->
  <div class="row" *ngIf="true">
    <div class="col-md-6">
      <alert type="danger">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you have successfully cracked the code and enabled the dictator feature</p>
        <p class="mb-1">The only caveat now is that you must pour in a big amount of ether to be able to become the
          dictator, let the game begin</p>
        <input [(ngModel)]="valueToGiveToBecomeDictator" type="text" class="form-control mb-3" id="name" placeholder="How much will you sacrifice to become a dictator??">
        <button (click)="becomeDictator();" type="button" class="btn btn-block btn-primary" [disabled]="voted">DICTATE!</button>
        <!-- Message if you win -->
        <p *ngIf="dictatorMessage.visible">{{dictatorMessage.message}}</p>
      </alert>
    </div>
  </div>
  <h1 class="mb-4"> {{voter.name}}, welcome to the StarkCore voting platform!</h1>
  <p *ngIf="voter.isCandidate">Looks like you are a CANDIDATE, take a look at your information below and don't go and
    try to
    vote for yourself, the blockchain will know!</p>

  <p *ngIf="!voter.isCandidate">Looks like you are a VOTER, go ahead and get your candidates address and start to vote.
    Remember, your vote is anonymous.</p>

  <!-- Voter information whether they are a candidate or not -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Vote</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <h2>Your information</h2>

          <div class="form-group">
            <div class="card">
              <div class="card-body p-0 clearfix">
                <i class="fa fa-user bg-primary p-4 font-2xl mr-3 float-left"></i>
                <div *ngIf="voter.isCandidate">
                  <div class="h5 text-primary mb-0 pt-3">{{voter.name}}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs">Candidate</div>
                </div>
                <div *ngIf="!voter.isCandidate">
                  <div class="h5 text-primary mb-0 pt-3">{{voter.name}}</div>
                  <div class="text-muted text-uppercase font-weight-bold font-xs">Voter</div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="name">Name</label>
                <input [(ngModel)]="voter.name" type="text" class="form-control" id="name" placeholder="Enter your name"
                  [disabled]="true">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Address</label>
                <input [(ngModel)]="voter.address" type="text" class="form-control" id="ccnumber" placeholder="0x123..."
                  [disabled]="true">
              </div>
            </div>
          </div>
          <!--/.row-->
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6">
      <div class="card">
        <!-- Show application progress when saving on the blockchain -->
        <mat-progress-bar *ngIf="showLoading" mode="indeterminate"></mat-progress-bar>
        <div class="card-header">
          <strong>Vote</strong>
          <small>Form</small>
        </div>
        <div class="card-body">
          <h2>Your candidate</h2>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Candidate Address</label>
                <input [(ngModel)]="candidateAddress" type="text" class="form-control" id="candidateAddress"
                  placeholder="0x123...">
              </div>
            </div>
          </div>
          <!--/.row-->
          <div class="row" *ngIf="voter.voted">
            <div class="form-group col-sm-12">

              <label for="candidateID">Candidate ID</label>
              <input [(ngModel)]="voter.tx" type="text" disabled="true" class="form-control" id="candidateID"
                placeholder="Transaction hash">
              <p>This means that for vote was forever stored in the blockchain never to be removed</p>
              <label> EthereScan ID: </label>
              <a href="{{ropstenAddress}}" target="_blank">{{ropstenAddress}}</a>
            </div>
          </div>
          <!--/.row-->
          <div class="row">
            <div class="form-group col-sm-4">
              <button (click)="saveCandidate();" type="button" class="btn btn-block btn-primary" [disabled]="voted">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Registered Voters
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Address</th>
                <th>Role</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let candidate of candidateList | async">
                <td>{{candidate.name}}</td>
                <td>{{candidate.address}}</td>
                <td>{{candidate.isCandidate}}</td>
                <td *ngIf="candidate.voted;">
                  <span class="badge badge-success">Voted</span>
                </td>
                <td *ngIf="!candidate.voted;">
                  <span class="badge badge-danger">Not-Voted</span>
                </td>
              </tr>
              <!-- <tr>
                <td>Samppa Nori</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>Estavan Lykos</td>
                <td>2012/02/01</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-danger">Banned</span>
                </td>
              </tr>
              <tr>
                <td>Chetan Mohamed</td>
                <td>2012/02/01</td>
                <td>Admin</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>Derick Maximinus</td>
                <td>2012/03/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-warning">Pending</span>
                </td>
              </tr>
              <tr>
                <td>Friderik Dávid</td>
                <td>2012/01/21</td>
                <td>Staff</td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
